﻿
@{
    ViewBag.Title = "Change Password";
}

<h2>Change Password</h2>

@Html.BeginForm()
{
    @Html.AntiForgeryToken()
<div>
Email: <input type="text" id="Email" name="Email"/>
</div>
<div>
    Code: <input type="text" id="Password" name="Password"/>
</div>
<div>
    New Password: <input type="text" id="NewPassword" name="NewPassword"/>
</div>
<div>
    <input type="submit" id="btnChangePassword" value="Change Password"/>
</div>
}