﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    935 Oakland Lane<br />
    Aurora, IL 60504<br />
    <abbr title="Phone">P:</abbr>
    630.499.8767
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:alex.a.wood@gmail.com">Alexander Andrew Wood</a><br />
</address>