﻿
@{
    ViewBag.Title = "Downloads";
}

<h2>MD Consensus Downloads</h2>

<div>
    <table class="table">
        <tbody>
            <tr><td>Windows 7+ 64 and 32 bit</td><td><a href="~/Downloads/MDConsensusWindows.zip">Click Here</a></td></tr>
            <tr><td>Mac OSX 64 bit</td><td><a href="~/Downloads/MDConsensusMacOSX.zip">Click Here</a></td></tr>
            <tr><td>Debian Linux 64 and 32 bit</td><td><a href="~/Downloads/MDConsensusLinux.zip">Click Here</a></td></tr>
            <tr><td>Android</td><td><a href="https://play.google.com/store/apps/details?id=com.woodensoftwaredevelopment.mdConsensus&hl=en"><img src="~/Content/Android-Icon.png" alt="Android" width="100" height="100"/></a></td></tr>
            <tr><td>IPhone IOS 7+</td><td><a href="https://itunes.apple.com/us/app/md-consensus-the-virtual-hospital-simulation/id1268335397?mt=8"><img src="~/Content/icon-ios.png" alt="iOS" width="100" height="100"/></a></td></tr>
        </tbody>
    </table>
</div>