﻿@model string
@{
    ViewBag.Title = "Generate Password";
    
}
<script type="text/javascript">
    $(document).ready(function () {
        $('.QA').hide();
        $('#email').blur(function () {
            $.ajax({
                url: '/Home/GetQuestion?email=' + $('#email').val(),
                success: function(data)
                {
                    if(data && data.Data)
                    {
                        $('#question').val(data.Data);
                        $('.QA').show();
                    }
                    else
                    {
                        $('.QA').hide();
                    }
                },
                error : function(a,b,c)
                {
                    $('.QA').hide();
                    alert(c);

                }
            });
        });
    });
</script>
<h2>Generate New Password</h2>

<form action="/Home/GeneratePassword" method="post">
    <table class="table">
        <tbody>
            <tr><td>Email:</td><td><input type="email" id="email" name="email"/></td></tr>
            <tr class="QA"><td>Question:</td><td id="question"></td></tr>
            <tr class="QA"><td>Answer:</td><td><input type="text" id="answer" name="answer" /></td></tr>
            <tr><td><input type="submit" value="Submit" /></td></tr>
        </tbody>
    </table>
</form>