﻿@{
    ViewBag.Title = "Concensus Sign In";
}
<link rel="stylesheet" type="text/css" href="/Scripts/jquery-ui.min.css" />
<script type="text/javascript" src="/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/Scripts/jquery-ui.min.js"></script>
<script type="text/javascript">
    function LoadRegister() {
        window.location.href = "/Home/Register";
    }
    function LoadGeneratePassword()
    {
        window.location.href = "/Home/GeneratePassword";
    }
    $(document).ready(function() {
        $('#loader').hide();

    });

    function SignOn() {
        $('#loader').show();
        $.ajax(
        {
            url: '/Home/SignMeOn',
            data: {
                Username: $('#txtUsername').val(),
                Password: $('#txtPassword').val()
            },
            success: function(data) {
                if (data.Success) {
                    window.location.href = "/Home/DashBoard";
                    return;
                } else {
                    $('#errorLabel').addClass('input-validation-error');
                    $('#errorLabel').html(data.FriendlyMessage);
                }
                $('#loader').hide();
            },
            error : function(a, b, c) {
                alert(c);
                $('#loader').hide();
            }
        });
    }
</script>
<noscript>
    Java Script Is Required To Play And Use Concensus
</noscript>
<div class="row">
    <div class="col-md-4">
        <h2>MD Concensus - Sign In</h2>
        <p>
            Email: <input type="text" id="txtUsername"/>
        </p>
        <p>
            Password: <input type="password" id="txtPassword"/>
        </p>
        <p>
            <input id="btnSignOn" type="button" onclick="SignOn();" value="Sign On"/>
        </p>

        <p>
            <input type="button" id="btnRegister" onclick="LoadRegister();" value="Register"/>
        </p>
        <p>
            <input type="button" id="btnChangePassword" onclick="LoadGeneratePassword();" value="Change Password" />
        </p>
        <p id="errorLabel">

        </p>
    </div>
    <div style="float: right;">
        <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fmdconcensus.woodensoftwaredevelopment.com&width=50&layout=box_count&action=like&show_faces=true&share=true&height=65&appId=258069904538523" width="50" height="65" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe> </div>
</div>
<div class="row">
    <div class="col-md-4">
        <img src="/Content/ajax-loader2.gif" alt="loading..." id="loader"/>
    </div>
</div>