﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Privacy</title>
</head>
<body>
    <div> 
        This program in all its forms belongs to Wooden Software Development LLC and Alexander Andrew Wood.
        <br/>
        It is not to be redistributed without consent of said company or Alexander Andrew Wood.
        <br/>
        <a href="/Home/Tos">See Terms Of Service</a>
    </div>
</body>
</html>
