﻿
@{
    ViewBag.Title = "Register";
}
<link rel="stylesheet" type="text/css" href="/Scripts/jquery-ui.min.css" />
<script type="text/javascript" src="/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/Scripts/jquery-ui.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#btnRegister').click(function() {
            $.ajax({
                url: '/Home/RegisterMe',
                data: {
                    EducationalType: $('#ddlEducationalType').val(),
                    Password: $('#txtPassword').val(),
                    Username: $('#txtUsername').val(),
                    Question: $('#Question').val(),
                    Answer: $('#Answer').val()
                },
                success: function(data) {
                    if (data.Success) {
                        window.location.href = "/Home/Index";
                        return;
                    } else {
                        $('#errorLabel').addClass('input-validation-error');
                        $('#errorLabel').html(data.FriendlyMessage);
                    }
                }
            });
        });
    });

</script>
<h2>Register</h2>
<p>
     Email: <input type="text" id="txtUsername"/> Password: <input type="password" id="txtPassword"/>
</p>
<p>
    Educational Type
    <select id="ddlEducationalType" name="ddlEducationalType">
        <option value="7">Doctor</option>
        <option value="6">RN</option>
        <option value="5">Alliance</option>
        <option value="4">Medical MD Student</option>
        <option value="3">Medical Nursing Student</option>
        <option value="2">Alliance In Training</option>
        <option value="1">N/A</option>
    </select>
</p>
<p>
    Login Reset Question: <input id="Question" type="text" name="Question"/>
</p>
<p>
    Login Reset Answer: <input id="Answer" name="Answer" type="text"/>
</p>
<p>
    <input type="button" id="btnRegister" value="Register" />
</p>
<p id="errorLabel"></p>
