﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Terms Of Service</title>
</head>
<body>
    <div> 
        You, hereby known as the "Player", agree to the erms and conditions presented in this document.
        <br/>
        The player agrees that the terms are updated and changed every so often and it is the Player's responsibility 
        <br/>
        to check the site for updated terms of service.
        <br/>
        The player is responsible for all his/her interactions on the site.
        <br/>
        The player agrees never to redistribute the program or do anything deemed malicious.
        <br/>
        The term malicious is interpreted solely by the company Wooden Software Development LLC and Alexander Andrew Wood.
        <br/>
        The player agrees that his/her account can be suspended due to malicious nature whether vulgarity based or for any reason.
        <br/>
        The player agrees that he or she will hold to a level of civility and will not submit anything written or otherwise: slandering
        <br/>
        other players, the simulation, the company, or anyone else.
        <br/>
        The player agrees that some scenarios created may or may not be used in educational use to promote higher learning and maybe
        <br/>
        used in other ways in sole proprietorship by the company or Alexander Andrew Wood.
        <br/>

    </div>
</body>
</html>
