﻿<h2>MD Concensus - The Game</h2>

<div id="container">
</div>
<div style="margin-bottom:100px;">
    <div style="float:left;">
        <table class="table">
            <tr><td></td><td><input type="button" class="form-control" id="btnUp" value="^"/></td><td></td></tr>
            <tr><td><input type="button" value="<" class="form-control" id="btnLeft"/></td>
            <td><input type="button" class="form-control" value="DOWN" id="btnDown"/></td>
            <td><input type="button" value=">" class="form-control" id="btnRight"/></td></tr>
        </table>
    </div>
    <div style="float:right;">
        <input type="text" id="txtMedicalTest" /><br/><input id="btnMakeMove" value="Make Move" type="button" />
    </div>
</div>
<input id="hfCase" type="hidden"/>
<script type="text/javascript" src="~/Scripts/jquery.mobile-1.4.5.min.js"></script>
<link href="~/css/jquery.fancybox.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="~/fonts/helvetiker_bold.typeface.js"></script>
<script type="text/javascript" src="~/fonts/helvetiker_regular.typeface.js"></script>
<script type="text/javascript" src="http://mrdoob.github.com/three.js/examples/fonts/helvetiker_regular.typeface.js"></script>
<script type="text/javascript" src="~/Scripts/three.min.js"></script>
<script type="text/javascript" src="~/Scripts/ColladaLoader.js"></script>
<script type="text/javascript" src="~/Scripts/OBJLoader.js"></script>
<script type="text/javascript" src="~/Scripts/ThreeGameEngine.js"></script>
<script type="text/javascript">

    $(document).ready(function() {
        init();
        animate();
    });

</script>
