﻿@model WSD.Consensus.Domain.Models.UserRatingModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Rate Your Game</title>
    <style type="text/css">
        .rating {
            float: left;
        }

        /* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
        .rating:not(:checked) > input {
            position: absolute;
            top: -9999px;
            clip: rect(0, 0, 0, 0);
        }

        .rating:not(:checked) > label {
            float: right;
            width: 1em;
            padding: 0 .1em;
            overflow: hidden;
            white-space: nowrap;
            cursor: pointer;
            font-size: 200%;
            line-height: 1.2;
            color: #ddd;
            text-shadow: 1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0, 0, 0, .5);
        }

        .rating:not(:checked) > label:before {
            content: '★ ';
        }

        .rating > input:checked ~ label {
            color: #f70;
            text-shadow: 1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0, 0, 0, .5);
        }

        .rating:not(:checked) > label:hover,
        .rating:not(:checked) > label:hover ~ label {
            color: gold;
            text-shadow: 1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0, 0, 0, .5);
        }

        .rating > input:checked + label:hover,
        .rating > input:checked + label:hover ~ label,
        .rating > input:checked ~ label:hover,
        .rating > input:checked ~ label:hover ~ label,
        .rating > label:hover ~ input:checked ~ label {
            color: #ea0;
            text-shadow: 1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0, 0, 0, .5);
        }

        .rating > label:active {
            position: relative;
            top: 2px;
            left: 2px;
        }
    </style>
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="~/Scripts/ConsensusFramework.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('input').click(function() {
                var rating = $(this).val();
                if (rating < 1) {
                    alert('Please Rate The Game!');
                    return;
                }
                var caseId = getParameterByName('caseId', null);
                var gameId = getParameterByName('gameId', null);
                $.ajax({
                    url: '/Game/CreateRate?caseId=' + caseId + '&gameId=' + gameId + '&rating=' + rating,
                    success: function(data) {
                        parent.$.fancybox.close();
                    }
                });
            });
        });
    </script>
</head>
<body>
    <div class="form-group">
        <fieldset class="rating">
            <legend>Rate the game you just played:</legend>
            <input type="radio" id="star5" name="rating" value="5"/><label for="star5" title="I completely agree with the diagnosis">5 stars</label>
            <input type="radio" id="star4" name="rating" value="4"/><label for="star4" title="I agree with the diagnosis">4 stars</label>
            <input type="radio" id="star3" name="rating" value="3"/><label for="star3" title="I have no opinion">3 stars</label>
            <input type="radio" id="star2" name="rating" value="2"/><label for="star2" title="I disagree with the diagnosis">2 stars</label>
            <input type="radio" id="star1" name="rating" value="1"/><label for="star1" title="I completely disagree with the diagnosis">1 star</label>

        </fieldset>
        
     </div>
</body>
</html>
