﻿@using WSD.Consensus.Domain.Models
@using WSD.Consensus.Presentation.Extensions

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MD Consensus</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/jquery.fancybox.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/jquery.mobile-1.4.5.css" rel="stylesheet" />
    <link href="~/css/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Scripts/modernizr-2.8.3.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-min-1.10.2.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.fancybox.pack.js"></script>
    <link href="~/css/tablesorterstyle.css" type="text/css" rel="stylesheet" />
    <link href="~/css/jquery.tablesorter.pager.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="~/Scripts/jquery.tablesorter.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.tablesorter.pager.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.filtertable.min.js"></script>
    <script type="text/javascript" src="~/Scripts/ConsensusFramework.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("MD Consensus", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Download The Game", "Downloads", "Home")</li>
                    @if (Context.Session.GetModel<UserModel>("User") != null)
                    {
                        <li><a href="~/MDConsensusHtml5/index.html">Play The Game Online</a></li>
                        <li>@Html.ActionLink("Create Game Level", "Index", "GameCreation")</li>
                    }
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p><a href="/Home/Tos">Terms Of Service</a></p>
            <p>&copy; @DateTime.Now.Year - Powered By Wooden Software Development LLC</p>
        </footer>
    </div>
     
   
     @RenderSection("scripts", required: false)
</body>
</html>
