﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create Medical Test</title>
    <link rel="stylesheet" type="text/css" href="/Scripts/jquery-ui.min.css" />
    <script type="text/javascript" src="/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/Scripts/jquery-ui.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.autocompletedisease').autocomplete({
                    source:'/GameCreation/DiseaseAutoComplete'
               
            });
            $('#isDiseasePresent').change(function() {
                if ($('#isDiseasePresent').is(':checked')) {
                    $('#disease').show();
                } else {
                    $('#disease').hide();
                }
            });
            $('#disease').hide();
            $('.autocompletemedicaltests').autocomplete({
                source: '/GameCreation/MedicalTestAutoComplete'
            });

            $('#btnCreateMedicalTest').click(function() {
                var parts = $('#disease').val().split('-');
                var name = $('#txtMedicalTestName').val();
                if (name == '') {
                    name = $('#Name').val();
                
                    $.ajax({
                        url: '/GameCreation/CreateMedicalTest',
                        data: {
                            Name: name,
                            Acurracy: $('#Acurracy').val(),
                            DiseaseId : parts.length > 0 ? parts[0] : null
                        },
                        success: function(data) {
                            if (data.Success) {
                                window.parent.$('#lstMedicalTests').append('<li><span>' + name + '</span> <a onclick="RemoveTypeCreationTest(this);">Remove</a></li>');
                                window.parent.$('#medicaltests').val(window.parent.$('#medicaltests').val() + ';' + name);
                                parent.$.fancybox.close();
                            } else {
                                alert(data.FriendlyMessage);
                            }
                        },
                        error: function(a, b, c) {
                            alert(c);
                        }

                    });
                } else {
                    window.parent.$('#lstMedicalTests').append('<li>' + name + ' <a onclick="RemoveTypeCreation(this);">Remove</a></li>');
                    window.parent.$('#medicaltests').val(window.parent.$('#medicaltests').val() + ';' + name);
                    parent.$.fancybox.close();
                }
            });
        });
    </script>
</head>
<body>
<div>
    <div>Search For Medical Test:<input type="text" id="txtMedicalTestName" class="autocompletemedicaltests"/></div>
    <div>Enter Test Name If Not Found<input type="text" id="Name" name="Name"/></div>

    <div>
        Test Results:
        <div>
            <div>
                Enter The New Test's Accurracy Out Of 100% e.g. .25 = 25%:
                <br/>
                <input type="text" id="Acurracy" name="Acurracy"/>
            </div>
            <div>
                <input type="checkbox" id="isDiseasePresent" />Is Disease Present?
                <div>
                    <input type="text" id="disease" class="autocompletedisease hidden"/>
                </div>
            </div>
        </div>
    </div>
    <div>
        <input type="button" id="btnCreateMedicalTest" value="Create Medical Test"/>
    </div>
</div>
</body>
</html>
