﻿@model IEnumerable<WSD.Consensus.Domain.Models.MedicalCaseModel>

@{
    ViewBag.Title = "Game Level Creation - Home";
}
<script type="text/javascript">
    $(document).ready(function () {
        $('.filtertable').filterTable({
            search: 'FilterOnAny'
        });
        $('.sortabletable').tablesorter();
    });
</script>
<h2>My Medical Cases</h2>

<p>
    @Html.ActionLink("Create New Medical Case", "CreateMedicalCase")
</p>
<table class="table sortabletable filtertable">
    <thead>
    <tr>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th> Country Of Origin
        </th>
        <th>
            Created Date
        </th>
             
        <th>
            Average Rating
        </th>
      
    </tr>
        </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MedicalCaseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CultureName)
        </td>
        <td>
            @Html.Raw(item.CreatedDate.ToString("yyyy/MM/dd hh:mm:ss"))
        </td>
              
        <td>
            @Html.Raw(item.Ratings != null ? item.Ratings.Average(z => z.Rating) : 0)
        </td>
       
    </tr>
}
        </tbody>
</table>
