﻿@model WSD.Consensus.Domain.Models.BodyPartModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Medical Creation</title>
</head>

<body>
    <link rel="stylesheet" type="text/css" href="~/Scripts/jquery-ui.min.css" />
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery-ui.min.js"></script>
<script type="text/javascript" src="~/Scripts/ConsensusFramework.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#btnClose').click(function() {
            parent.$.fancybox.close();
        });
        $('#btnCreate').click(function() {
            var url1 = '/GameCreation/CreateBodyPart';
            var par = getParameterByName('popuptype', null);
            if (par == 2) {
                url1 = '/GameCreation/CreateDisease';
            }
            else if (par == 1) {
                url1 = '/GameCreation/CreateSymptom';
            }
            
            $.ajax({
                url: url1,
                data: {
                    ScientificName: $('#txtScientificName').val(),
                    CommonName: $('#txtCommonName').val()
                },
                success : function(data) {
                    if (data.Success) {
                        parent.$.fancybox.close();
                    } else {
                        $('#errorLabel').addClass('input-validation-error');
                        $('#errorLabel').html(data.FriendlyMessage);
                    }
                },
                error: function(a, b, c) {
                    alert(c);
                }
            });
        });
    });
</script>
        <div class="form-horizontal">
            <hr />
          
    
            <div class="form-group">
                Scientific Name:
                <div class="col-md-10">
                   <input id="txtScientificName" name="ScientificName"/>
                </div>
            </div>

            <div class="form-group">
                Common Name:
                <div class="col-md-10">
                    <input id="txtCommonName" name="CommonName"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" id="btnCreate" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>


<div>
    <input type="button" value="Close" id="btnClose"/>
</div>
<div id="errorLabel">
    
</div>
</body>
</html>
